:root{
    --colorwhite : rgb(196, 194, 190);
    --bgcolor : rgb(41, 39, 39);
    --navbg : rgb(27, 26, 26);
    --lightwhite : rgb(80, 80, 80);
    --textcolor : rgb(241, 9, 9);
    /* --colorwhite : rgb(41, 39, 39);
    --bgcolor : rgb(196, 194, 190);
    --navbg : rgb(182, 179, 172); */
}
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--bgcolor);
    font-family: Arial, Helvetica, sans-serif;
}
.nav img{
    margin-left: 3.5rem;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4.3rem;
    border-bottom: 2.5px solid var(--colorwhite);
    width: 100%;
    position: fixed;
    top: 0;
    background-color: var(--navbg);
}
.nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.nav ul li{
    list-style: none;
    margin-left: 1rem;
    transition: all 0.2s ease;
}
.nav ul li:hover{
    scale: 1.2;
}
.nav ul li a{
    text-decoration: none;
    color: var(--colorwhite);
    position: relative;
    font-weight: bold;
    transition: all 2s ease;
}
.nav ul li a::after{
    content: "";
    position: absolute;
    display: block;
    left: 0;
    bottom: -5px;
    height: 1.6px;
    width: 0%;
    background-color: var(--textcolor);
    transition: all 0.8s ease;
}
.nav ul li a:hover::after{
    width: 100%;
}
.nav ul li a:hover{
    scale: 3rem;
    color: var(--textcolor);
}
.moon{
    color: var(--colorwhite);
    font-size: 2rem;
    margin-right: 3.5rem;
    transition: all 0.6s ease;
}
.moon:hover{
    scale:1.2;
    rotate: 360deg;
    cursor: pointer;
}
.main{
    margin: 9rem 10rem 5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.main .mleft img{
    height: 360px;
    width: 360px;
    border: 1.3px solid var(--textcolor);
    border-radius: 200px;
    box-shadow: 4px 8px 12px var(--textcolor);
}
.main .mright .name{
    font-size: 2.7rem;
}
.shadow{
    text-shadow: 1px 1px 2px var(--textcolor);
}
.red{
    color: var(--textcolor);
}
.white{
    color: var(--colorwhite);
}
.profession{
    margin-top: 0.5rem;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    color: var(--colorwhite);
}
.move{
    color: var(--textcolor);
    font-style: italic;
    text-decoration: underline;
}
.mright .quote{
    margin: 0.3rem;
    color: var(--colorwhite);
    font-size: large;
}
.social ul{
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start ;
}
.social ul li{
    list-style: none;
    margin-right: 1rem;
}
.social ul li a i{
    padding: 0.3px;
    font-size: 2.2rem;
    color: var(--colorwhite);
    border: 0.5px solid var(--colorwhite);
    border-radius: 25px;
    transition: all 0.5s ease;
}
.social ul li a i:hover{
    scale: 1.1;
}
.mright button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
    padding: 0.6rem 0.9rem;
    background-color: var(--bgcolor);
    border: 1.7px solid var(--colorwhite);
    border-radius: 25px;
    transition: all 0.5s ease;
}
.mright button:hover{
    scale: 1.08;
    cursor: pointer;
}
.mright button a{
    font-size: 1.15rem;
    text-decoration: none;
    color: var(--colorwhite);
}
.mright button i{
    padding-bottom: 3px;
    margin-left: 3px;
    font-size: 20px;
    color: var(--colorwhite);
}
.seprate{
    margin-top: 1.4rem;
    border: 1px solid var(--colorwhite);
    background-color: var(--colorwhite);
    margin-left: 16%;
    margin-right: 16%;
}
.myskill {
    margin: 2.5rem 16%;
}
.myskill h2{
    margin-bottom: 2.5rem;
    font-weight: bolder;
    font-size: 2.2rem;
    color: var(--colorwhite);
}
.content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
.box{
    border: 2.8px solid var(--colorwhite);
    border-color: var(--lightwhite);
    border-radius: 15px;
    width: 13rem;
    height: 5rem;
    margin-bottom: 2rem;
    padding: 18px;
    background-color: rgb(27, 26, 26);
}

.box:hover{
    box-shadow: 3px 5px 8px var(--colorwhite);
    border: 2.8px solid var(--bgcolor);
}
.box:hover .anime{
    animation: sc 2s ease infinite;
}
@keyframes sc{
    0%{
        scale: 1;
    }
    50%{
        scale: 1.5;
        opacity: 0;
    }
    100%{
        scale: 1;
    }
}
.box .up{
    display: flex;
    justify-content: space-around;
    align-items: center;
} 
.box .up i{
    color: var(--colorwhite);
    font-size: 4.5rem;
}
.box .up .right p:nth-child(1){
    font-size: 2rem;
    color: var(--colorwhite);
    font-weight: 600;
}
.box .up .right p:nth-child(2) {
    font-size: 1.5rem;
    color: var(--colorwhite);
}
.project{
    margin: 2.5rem 16%;
}
.project h2{
    margin-bottom: 2.5rem;
    font-weight: bolder;
    font-size: 2.2rem;
    color: var(--colorwhite);
}
.content_p{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.pbox{
    width: 25rem;
    height: 20rem;
    border: 2px solid var(--lightwhite);
    border-radius: 25px;
}
.pbox:hover{
    box-shadow: 3px 5px 8px var(--colorwhite);
    border: 2.8px solid var(--bgcolor);
    cursor: pointer;
}
.pbox img{
    border-radius: 10px;
    width: 25rem;
    height: 16rem;
    object-fit: contain;
}
.pbox2{
    padding: 0px 5px;
    height: 16rem;
}
.pbox p{
    padding-bottom: 1rem;
}
.pbox p span{
    margin-left: 5rem;
    margin-top: 0.5px;
    font-size: 1.5rem;
    color: var(--colorwhite);
    font-weight: 800;
    margin-right: 20px;
    text-decoration: underline;
}
.view{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 47px;
}
.view a{
    text-decoration: none;
    color: var(--colorwhite);
    font-weight: 700;
    font-size: 1.18rem;
}
.view .arrow{
    color: var(--colorwhite);
    font-size: 1.8rem;
}
.view:hover .arrow{
    margin-left: 0.5rem;
}
.view a:hover{
    text-decoration: underline;
}
.contact{
    margin: 2.5rem 16%;
}
.in_touch{
    display: flex;
    justify-content: center;
    align-items: center;
}
.in_touch h2{
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 2.2rem;
    color: var(--colorwhite);
}
.contact p{
    margin: 0rem 5rem;
    font-size: large;
    color: var(--colorwhite);
}
.contact_me{
    margin: 2.5rem 15.5%;
}
.contact_me h3{
    margin-left: 20.3rem;
    margin-bottom: 1rem;
    font-weight: bolder;
    font-size: 1.9rem;
    color: var(--colorwhite);
}
.contact_me h3{
    display: flex;
    align-items: center;
}
.contact_me h3 i{
    margin-left: 5px;
}
.table{
    margin: 2.5rem 16%;
}
.table input{
    padding-left: 15px;
    margin: 0.5rem 15rem;
    width: 30rem;
    height: 2rem;
    outline: none;
    border: 2.3px solid var(--textcolor);
    border-radius: 10px;
    font-weight: 700;
    font-size: medium;
    color: var(--bgcolor);
}
.table button{
    margin: 1rem 26rem;
    padding: 8px 35px;
    border: 2px solid var(--textcolor);
    border-radius: 10px;
    color: rgb(80, 77, 77);
    font-weight: 700;
    transition: all 0.5s ease;
}
.table button:hover{
    box-shadow: 1px 3px 5px var(--colorwhite);
    scale: 1.01;
    cursor: pointer;
    border-color: var(--colorwhite);
}
.table button i{
    font-size: large;
}
footer{
    background-color: var(--navbg);
    height: 20rem;
}